.content-display {
    flex: 1;

    display: flex; 
    justify-content: center;  

    margin: 20px 32px;
}

.content {
    padding: 32px;
    width: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.6);

    border-radius: 16px;
}

.display-header {
    margin-bottom: 40px;
}

.display-header > h1, p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.display-header > p {
    margin-bottom: 8px;
}